:host {
  //position: relative;
  //z-index: 10;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

/*The menu popup is rendered outside the header component*/
/*so we will restyle a couple things inside a global /deep/ selector*/

.ico.topnav-icon {
  text-decoration: none;
  display: flex;
  color: #fff;
}



.app-navbar {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .right {
    margin-left: auto;
    float: right;

    .header-button {
      color: black;
    }
  }

  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.app-navbar span {
  text-transform: uppercase !important;
}

.app-angular-logo {
  margin: 0 4px 3px 0;
  height: 26px;
}

.greeting-hamburger {
  display: none;
}

/deep/ {
  .app-header-accountMenu.mat-menu-panel {
    border-radius: 3px;
    max-width: initial;
    overflow: visible;

    .mat-menu-content {
      max-width: initial;
      padding: 0;
      overflow: hidden;
      display: inline-block;
      margin-bottom: -6px;
    }
  }
}

//@media screen and (max-width: 600px) {
//  .greeting-hamburger {
//    display: block;
//  }
//  .greeting-button {
//    display: none;
//  }
//}

.visible-md {
  display: none;
}
.visible-sm {
  display: none;
}

@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
