<div id="search-component">
  <h4 mat-dialog-title>Add exercise</h4>
  <div mat-dialog-content>
    <mat-form-field>
      Exercise
      <input matInput [(ngModel)]="exercise.exercisename">
    </mat-form-field>
    <mat-form-field>
      Exercise search component (experiment)
      <input #searchBox id="search-box" matInput (keyup)="search(searchBox.value)" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let exercise of exercise$ | async" [value]="exercise.exercisename">
          {{exercise.exercisename}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <!--<ul class="search-result">-->
      <!--<li *ngFor="let exersice of exercise$ | async">-->
        <!--<a routerLink="/exercise-detial/{{exersice.id}}">-->
          <!--{{exersice.exercisename}}-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="exercise" cdkFocusInitial>Ok</button>
  </div>
</div>
