<mat-card class="main-content">
  <mat-card-header>
    <mat-card-title><h2>News feed</h2></mat-card-title>
    <mat-card-subtitle>
      News feed
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab *ngFor="let tab of tabs" [label]="tab">
        <div>
          <div class="mb-20" fxLayout="row" fxLayoutAlign="center" *ngIf="workouts">
            <div fxFlex>
              <div *ngFor="let workout of workouts">
                <mat-card class="mb-20">
                  <mat-card-header>
                    <mat-card-title>
                      <h2><img alt="userpic" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
                      <a routerLink="/user-details/{{workout.user.id}}">
                        <span class="badge">{{workout.user.username}}</span>
                      </a>
                      </h2>
                    </mat-card-title>
                    <mat-card-subtitle>{{workout.dateTime}}</mat-card-subtitle>
                  </mat-card-header>
                  <a routerLink="/workout-details/{{workout.id}}">
                    <span class="badge"> {{workout.workoutName}}</span>
                  </a>
                  <div *ngFor="let exercise of workout.exercises">
                    <div routerLink="/workout-details/{{exercise.id}}">
                      <span class="badge">{{exercise.repetitions}} {{exercise.exerciseName}}|{{exercise.weights}}</span>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

