<div *ngIf="exercise">
  <h2>{{ exercise.exercisename | uppercase}} Details</h2>

  <div><span>id: </span>{{exercise.id}}</div>

  <div class="main">
    <div class="mat-form-field">
      <label>name:
        <input [(ngModel)]="exercise.exercisename" placeholder="name">
      </label>
    </div>
    <div class="mat-form-field">
      <label>description:
        <input [(ngModel)]="exercise.description" placeholder="name">
      </label>
    </div>
    <div class="mat-form-field">
      <label>exerciseType:
        <input [(ngModel)]="exercise.exerciseType" placeholder="name">
      </label>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="goBack()">go back</button>
  <button mat-raised-button color="primary" (click)="save()">save</button>

</div>
