<mat-card>
  <mat-card-header>
    <mat-card-title>User's state</mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h4>How did you sleep last night?</h4>
    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        <1
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        1-4
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        5-6
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        7-8
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        9+
      </button>
    </div>
    <mat-divider></mat-divider>
    <h4>How do you feel?</h4>
    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        BAD
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        GOOD
      </button>
    </div>
    <mat-divider></mat-divider>
    <h4>How did you eat yesterday?</h4>
    <div class="button-row">
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        Bad
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        Middle
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="onLogClick()">
        Good
      </button>
    </div>
  </mat-card-content>
</mat-card>
