<div>
  <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
      <mat-card class="left-card">
        <mat-card-content>
          <div class="mb-20">
            <!--<button mat-stroked-button></button>-->
            <a routerLink="/workout-add/{{'AMRAP'}}">AMRAP</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'EMOM'}}">EMOM</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'AltEMOM'}}">AltEMOM</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'AFAP'}}">AFAP</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'RFT'}}">ROUNDS FOR TIME</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'FT'}}">FOR TIME</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card class="right-card">
        <mat-card-content>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'SETS'}}">SINGLES</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'TABATA'}}">TABATA</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'ERFT'}}">EACH ROUND FOR TIME</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'NFT'}}">NOT FOR TIME</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add/{{'HAVIEST'}}">HAVIEST</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
