<div>
  <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
      <mat-card class="left-card">
        <mat-card-content>
          <div class="mb-20">
            <!--<button mat-stroked-button></button>-->
            <a routerLink="/workout-add">AMRAP</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add">ROUNDS FOR TIME</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add">EMOM</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card class="left-card">
        <mat-card-content>
          <div class="mb-20">
            <a routerLink="/workout-add">SINGLES</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add">TABATA</a>
          </div>
          <div class="mb-20">
            <a routerLink="/workout-add">EACH ROUND FOR TIME</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
