.left-card {
  text-align: left;
}

.right-card {
  text-align: right;
}

.mb-20 {
  margin-bottom: 20px;
}

.mat-card {
  text-align: center;
  img {
    border-radius: 5px;
    margin-top: -25px;
  }
}
