:host {
  /*text-align: center;*/
  max-height: 500px;
}

.button-row {
  text-align: center;
}

.button-row button {
  margin-right: 8px;
}

.button-row form {
  margin-right: 8px;
}

.mat-card-action {
  margin-bottom: 0;
  padding-bottom: 0;
}

.mb-20 {
  margin-bottom: 20px;
}
