<div *ngIf="workout">
  <h2>{{ workout.workoutname | uppercase}} Details</h2>

  <div><span>id: </span>{{workout.id}}</div>

  <div class="main">
    <div class="mat-form-field">
      <label>name:
        <input [(ngModel)]="workout.workoutname" placeholder="name">
      </label>
    </div>
    <div class="mat-form-field">
      <label>dateTimedescription:
        <input [(ngModel)]="workout.dateTimedescription" placeholder="name">
      </label>
    </div>
    <div class="mat-form-field">
      <label>workoutTypes:
        <input [(ngModel)]="workout.workoutTypes" placeholder="name">
      </label>
    </div>
    <div class="mat-form-field">
      <label>exercises:
        <input [(ngModel)]="workout.exercises" placeholder="name">
      </label>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="goBack()">go back</button>
  <button mat-raised-button color="primary" (click)="save()">save</button>

</div>
