<div class="mb-40">
  <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
      <app-api-card-current-workout></app-api-card-current-workout>
    </div>
    <div fxFlex>
      <app-api-card-user-states></app-api-card-user-states>
    </div>
    <!--<div fxFlex>-->
    <!--<div class="mb20">-->
    <!--<app-api-card-current-workout></app-api-card-current-workout>-->
    <!--</div>-->
    <!--<div class="mb20">-->
    <!--<app-api-card-user-states></app-api-card-user-states>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div fxFlex>-->
    <!--<app-api-card-workout-news></app-api-card-workout-news>-->
    <!--</div>-->
  </div>
</div>
