<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" *ngIf="exercise.id">
  <div fxFlex>
    <mat-card>
      <form [formGroup]="exerciseForm" (ngSubmit)="save()">
        <mat-card-header>
          <mat-card-title>
            <h2>Edit exercise's details</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mb-20">
            <mat-form-field>
              <input matInput placeholder="Exercise name" [(ngModel)]="exercise.exercisename"
                     formControlName="exerciseName" required/>
            </mat-form-field>
          </div>
          <div class="mb-20">
            <mat-form-field>
              <input matInput placeholder="Exercise type" [(ngModel)]="exercise.exerciseType"
                     formControlName="exerciseType" required/>
            </mat-form-field>
          </div>
        </mat-card-content>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!exerciseForm.valid">Save
        </button>
        <button mat-raised-button color="secondary" (click)="remove(exercise.id)"
                *ngIf="exercise.id" type="button">Delete
        </button>
        <a mat-button routerLink="/exercises">Go Back </a>
      </form>
    </mat-card>
  </div>
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" *ngIf="!exercise.id">
  <div fxFlex>
    <mat-card>
      <form [formGroup]="exerciseForm" (ngSubmit)="save()">
        <mat-card-header>
          <mat-card-title>
            <h2>Add exercise</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="mb-20">
            <mat-form-field>
              <input matInput placeholder="Exercise name" formControlName="exerciseName" required/>
            </mat-form-field>
          </div>
          <div class="mb-20">
            <mat-form-field>
              <input matInput placeholder="Exercise type" formControlName="exerciseType" required/>
            </mat-form-field>
          </div>
        </mat-card-content>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!exerciseForm.valid">Save
        </button>
        <!--<button mat-raised-button color="secondary" (click)="remove(exercise.id)"-->
                <!--*ngIf="exercise.id" type="button">Delete-->
        <!--</button>-->
        <a mat-button routerLink="/exercises">Go Back </a>
      </form>
    </mat-card>
  </div>
</div>
